.headShot{
  background-image: url('./aboutMeHeadshot.png');
  height: 600px;
  width:600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 100px;
}