.headShot{
  background-image: url('./headShot3.png');
  height: 750px;
  width:750px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 400px;
  margin-top: 100px;
  
}

.headShotcontainer {
  /* border: 2px solid black; */
  padding-left: 100px;
  
  
}
.headerName {
  padding-top: 200px;
  width: 40%;
  font-size: 200px;
  text-align: center;
  color: rgb(11, 88, 11);
  /* border: 2px solid black; */
  font-family: 'Montserrat', sans-serif;
}
.aboutMeContainer1 {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
/* border: 2px solid black; */

}
.aboutMeQuote {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
  height: 200px;
   /* border: 2px solid black; */
   text-align: center;
   font-size: 35px;
}

.aboutmeSection {
  color: rgb(69, 30, 6);
  display: flex;
  justify-content: space-evenly;
  /* font-weight: bold; */
  margin-top: 190px;
  height: 600px;
  width: 100%;
  border: 2px solid black;
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
.paragraph {
  padding-left: 8%;
  width: 40%;
  text-align:center;
}

.aboutme2 {
  font-size: 40px;
  padding-left: 8%;
  width: 40%;
  text-align:center;
}

