.formContainer {
  display : flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 90vh;
 
}

form {
  display: flex;
  

  flex-direction: column;
}
form input {
  margin-top: 100px;
  /* border-radius: 10px; */
  outline: none;
  border: none;
  border-bottom: 2px solid black;
}
form textarea {
  margin-top: 100px;
  border-radius: 10px;
}

form button {
  margin-top: 5px;
  border-radius: 10px;
  transition: .04s;
}


.headerMessage {
  text-align: center;
  font-size: 40px;

}


form button:hover {
  background-color: rgb(147, 214, 147);
}