.my-app-nav-ul {
  background: white;
  font-size: 1.2rem;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}
.my-app-nav-ul .nav-item .nav-link.anchorTags {
  font-size: 30px;
  color: rgba(26, 105, 26, 0.725);
}

.misoKitty  {
  background-image: url(../styles/miso.png);
}